@font-face {
    font-family: 'PerryGothic Regular';
    src: url('font/PERRYGOT.TTF');
}

.background {
    -fx-background-color: #000000;
}

#lblNickname {
    -fx-font-size: 20pt;
    -fx-font-family: "PerryGothic Regular";
    -fx-text-fill: #A11212;
   	-fx-effect: dropshadow(one-pass-box, rgba(209,181,82,1), 5, 2, 0, 0);
}

#txtPlayersInLobby{
	-fx-background-color: transparent;
}

#btnNickname, #btnNewRoom, #btnJoinRoom, #btnLeaveRoom, #btnSelectMap, #btnStartGame, #btnCreateNewRoom, #btnCancelNewRoom {
    -fx-background-image: url('img/cof-btn-plain.png');
    -fx-background-color: transparent;
}

#btnNickname:hover, #btnNewRoom:hover, #btnJoinRoom:hover, #btnLeaveRoom:hover, #btnSelectMap:hover, #btnStartGame:hover, #btnCreateNewRoom:hover, #btnCancelNewRoom:hover {
    -fx-background-image: url('img/cof-btn-hover.png');
    -fx-background-color: transparent;
}

#btnNickname:pressed, #btnNewRoom:pressed, #btnJoinRoom:pressed, #btnLeaveRoom:pressed, #btnSelectMap:pressed, #btnStartGame:pressed, #btnCreateNewRoom:pressed, #btnCancelNewRoom:pressed {
	-fx-background-image: url('img/cof-btn-pressed.png');
    -fx-background-color: transparent;
}

#anchor {
-fx-background-color: black;
}